body {
    margin: 0;
}

#sliders {
    display: flex;
    position: absolute;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    flex-direction: row;
    color: white;
    width: 90%;
    flex-wrap: wrap;
}

#sliders div {
    display: flex;
    flex-direction: column;
}

#reset {
    margin-left: auto;
}

.reset-mobile {
    position: absolute;
    display: none;
    gap: 2rem;
    bottom: 2rem;
    right: 2rem;
}

#reset-ball,
#reset-pins {
    height: 5rem;
    width: 5rem;
    border-radius: 999px;
}

#reset-ball {
    background: orangered;
}

#reset-pins {
    background: red;
}


@media (max-width: 680px) {
    #reset {
        margin: 0;
    }

    .reset-mobile {
        display: flex;
    }
}

@media (max-width: 430px) {
    #sliders {
        margin: 0 1rem;
        flex-direction: column;
    }
}